==== Request Cookies
|===
|Name|Optional|Description

{{#fields}}

                                |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
                                |{{#tableCellContent}}{{#optional}}Y{{/optional}}{{^optional}}N{{/optional}}{{/tableCellContent}}
                                |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===
