==== Request Fields
|===
|Path|Optional|Description
{{#requestParts}}
    |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{#optional}}Y{{/optional}}{{^optional}}N{{/optional}}{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/requestParts}}
|===
